{
    "plugins": [],
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
    },
    "parserOptions": {
        "ecmaVersion": 11
    },
    "rules": {
        "strict": "off",
        // "indent": ["error", 4, { "SwitchCase": 1 }],
        "eqeqeq": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "error",
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": ["error", { "max": 2 }],
        "no-param-reassign": "warn",
        "no-spaced-func": "error",
        "no-use-before-define": "error",
        "no-unused-vars": ["error"],
        "no-with": "error",
        "default-case": "error",
        "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
        "comma-spacing": [ "error", { "before": false, "after": true } ],
        "generator-star-spacing": ["error", { "before": true, "after": false }],
        "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
        "no-restricted-globals": "off",
        "array-callback-return": "off",
        "no-console": ["warn", { "allow": ["info", "warn", "error", "time", "timeEnd"]}],
        "valid-jsdoc": ["warn", {"prefer": {"returns": "return"},
                "requireParamDescription": false,
                "requireReturn": false,
                "requireReturnDescription": false
            }
        ]
    }
}
